body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a3c9e5; 
    margin: 0;
}

.calculator {
    border: 2px solid #8666a7; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #524668; 
    border: 1px solid #301a4a; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0e0119; 
}

#display {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #6e07eb; 
    background-color: #baa5ca; 
    border-radius: 5px;
}
